@page
@model IndexModelUI
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Group Members</h2>
    <hr />
    <p>Muhammad Arslan Manzoor 35593<br />
    Suleman Khan 2498<br />
    Sadaf Uzair 35591<br />
    Basit  Amin  40645<br /></p>
    <hr />

    @* <h1 class="display-4">Welcome to the <b>@Model.index</b> Environment</h1> *@
    <h1>This is <b style="color:red;">@Model.indexUI</b> Environment</h1>
    
    <p>Added by Muhammad Arslan Manzoor  35593</p>

    <p>Changes Made By Sadaf Uzair @DateTime.Now. SAP 35591</p>

    <p>Changes Made By Suleman Khan @DateTime.Now. SAP 2498</p>

    <p>Changes Made By Basit AMin @DateTime.Now. SAP 40645</p>

</div>
